{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'contributor-login' %}
{% set navTitle = "Identification" %}

{% block title %}
	Identification
{% endblock %}

{# Stylessheets #}
{% block page_stylesheets %}

 	<link rel="stylesheet" href="{{ asset('assets/css/element-form.css?ver=' ~ version) }}">

{% endblock %}


{# BODY CONTENT #}
{% block body_content %}

	{# NOT ACTIVE #}
	{% if not featureConfig.getActive() %}

		<h1>Erreur</h1> 
		<p><center>Désolé, cette fonctionnalité n'est pas activée pour le moment</center></p>

	{# NOT ACTIVE IN IFRAME #}
	{% elseif app.request.get('iframe') and not featureConfig.getActiveInIframe() %}

		<h1>Erreur</h1> 
		<p><center>Désolé, cette fonctionnalité n'est pas disponible à l'intérieur d'une iframe</center></p>

	{% else %}

		<h1>Identification</h1> 

		{# Only Admins warning #}
		{% if featureConfig.isOnlyAllowedForAdmin() %}
			<p>Attention ! Cette fonctionalité est reservée aux administrateur</p>
		{% endif %}

		{# Login button #}
		{% if featureConfig.getAllowRoleUser() or featureConfig.getAllowRoleAdmin() %}
		  <div class="login-section">
		  	<h3>Connectez vous avec votre compte :</h3>
		  	<div class="oauth-section">
		  		<a class="oauth-btn waves-effect waves-light instance-login" onclick="$('#popup-login').openModal()">
		  			{% set logo = config.favicon ? config.favicon : config.logo %}
		  			{% if logo %}<img src="{{ logo.imageUrl }}"/>{% endif %}
		  			{{ config.appName }}
		  		</a>
		  		{% if config.user.loginWithMonPrintemps %}
	        	<a class="oauth-btn waves-effect waves-light printemps" href="{{ hwi_oauth_login_url('communs') }}"><i class="icon gogo-icon-printemps left"></i>Printemps de l'éducation</a>
	        {% endif %}
	        {% if config.user.loginWithLesCommuns %}
	        <a class="oauth-btn waves-effect waves-light communs" href="{{ hwi_oauth_login_url('communs') }}"><i class="icon gogo-icon-communs left"></i>LesCommuns.org</a>
	      	{% endif %}
	      {% if config.user.loginWithMonPrintemps %}
	      </div>
	      <div class="oauth-section">
	      {% endif %}
	      	{% if config.user.loginWithGoogle %}
	        <a class="oauth-btn waves-effect waves-light gplus" href="{{ hwi_oauth_login_url('gplus') }}"><i class="icon gogo-icon-gplus left"></i>Google</a>
	        {% endif %}
	        {% if config.user.loginWithFacebook %}
	        <a class="oauth-btn waves-effect waves-light facebook" href="{{ hwi_oauth_login_url('facebook') }}"><i class="icon gogo-icon-facebook left"></i>Facebook</a>
	        {% endif %}
        </div>
			</div>
		{% endif %}

		{# separator #}
		{% if (featureConfig.getAllowRoleUser() or featureConfig.getAllowRoleAdmin()) and featureConfig.getAllowRoleAnonymousWithMail() %}
			<div class="or-label">ou</div>
		{% endif %}

		{% if featureConfig.getAllowRoleAnonymousWithMail() %}

			{{ form_start(loginForm) }}

			<div class="input-field col s12">
				<i class="material-icons gogo-icon-mail prefix"></i>	
				{{ form_widget(loginForm.email, {'id': 'inputMail', 
											      		   'attr': {'class': 'validate required',
														   		 'placeholder':'Entrez simplement une adresse mail' }}) }}
				<label for="inputMail" data-error="Veuillez renseigner une adresse mail valide" class="gogo-form-label" style="margin-left: 2.5rem;"></label>
			</div>

			{% if emailAlreadyUsed %}
				<div class="email-already-in-use">
					Oups, un compte avec cette adresse email existe déjà ! Connectez-vous ou utilisez une autre adresse !
				</div>
			{% endif %}

			<div class="explanations">
				<!-- Un mail vous sera envoyé pour vous permettre d'annuler votre contribution. -->
			</div>

			{{ form_rest(loginForm) }}

			{# Fermeture de la balise <form> du formulaire HTML #}
			{{ form_end(loginForm) }}

			<center>
				<button onclick="checkLoginAndSend()" class="btn btn-secondary waves-effect waves-light">Continuer</button>
			</center>

		{% endif %}

	{% endif %} {# end isActive #}

{% endblock %}

{% block page_javascripts %}
    <script src="{{ asset('js/element-form.js?ver=' ~ version) }}"></script>
{% endblock %}